{% extends 'base.html' %}
{% block titulo %}Home{% endblock %}
{% block conteudo %}
<h1>Mensageiro</h1>
<p>Bem vindo ao melhor mensageiro produzido nos últimos dez minutos.</p>
<hr>
<form action="{{url_for('chat.crianovousuario')}}" method="post">
    <input type="text" name="novo" placeholder="nick para novo usuário">
    <input type="submit" value="Criar">
</form>

{% with mensagens = get_flashed_messages() %}
{% if mensagens %}
    {% for mensagem in mensagens %}
    <div class="alerta">
        {{mensagem}}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

<table border='1'>
    <thead>
        <tr>
            <th>Nick</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.nick}}</td>
            <td><a href="{{url_for('chat.lista_conversas', id=usuario.id)}}">Conversas com {{usuario.nick}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}